body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

.search-field {
   border-radius: 2px; 
  padding: 20px;
  margin-left: 300px; 
}

.search-button {
   color: white;
   background-color: green;
}
/* all product part  */
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid black; */
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.single-product {
  padding: 10px;
  transition: 0.6s;
  margin-left: 40px;
  box-shadow: 5px 6px 7px grey;
  border-radius: 20px;
  
}
.single-product:hover {
  box-shadow: 4px 4px 7px gray;
  border-radius: 10px;
  border: 5px solid grey;
  background-color: rgb(198, 230, 230);
}
.product-image {
  width: 150px;
  height: 150px;
}
/* product title  */
.title-fix{
  color: rgb(56, 139, 248);
  font-weight: bolder;
}
/* rating part */
.rating{
  color: brown;
  font-weight: bold;
}

.cart {
  width: 350px;
  /* border: 1px solid green; */
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
}
.cart-main {
  padding-right: 30px;
}
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    
  }
  
}
